.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-header nav {
  text-align: right;
}

.App-header nav a {
  text-decoration: none;
  color: white;
  padding-left: 10%;

}

.selected {
  color: green;
}
